.wrapper {
    width: 100%;
    height: 100%;
    color: white;
}

.leftpane {
    width: 20%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.middlepane {
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 10px;
    background-color: #333333;
    border-collapse: collapse;
}

.rightpane {
  width: 30%;
  height: 100%;
  float: right;
  border-radius: 10px;
  background-color: #262626;
  border-collapse: collapse;
}

.btn-company-info {
    margin: 15px;
    /* height: 24px !important;
    width: 24px !important; */
    background-color: #006400;
}