<div class="wrapper">

  <div class="leftpane">
    <h1>Test Page</h1>

    <div class="form-group">
      <label for="search-text">Search Text</label>
      <!-- ngModel directive binds the value of HTML controls (input, select, textarea) to application data. -->
      <input class="form-control" id="search-text" aria-describedby="search-text" (ngModelChange)="getStocksInfos($event)" [(ngModel)]="searchText" placeholder="Enter text to search" autofocus>

      <!-- <button (click)="getStocksInfos()">Click here to get stocks.</button> -->

    </div>

    <!-- <button (click)="getTweets()">Press here to get tweets.</button> -->

    <ul>
      <!-- results of ngFor is passed to appFilter with argument searchText -->
      <li *ngFor="let programmingLanguage of programmingLanguages | appFilter: searchText">
        {{programmingLanguage}}
      </li>
    </ul>

  </div>

  <div class="middlepane">
    <h1>Test Page</h1>

    <div class="chart-wrapper">
      <canvas baseChart 
          [datasets]="lineChartData" 
          [labels]="lineChartLabels" 
          [options]="lineChartOptions"
          [colors]="lineChartColors" 
          [legend]="lineChartLegend" 
          [chartType]="lineChartType" 
          [plugins]="lineChartPlugins">
      </canvas>
    </div>

  </div>

  <div class="rightpane">
    <h1>Test Page</h1>

    <ul [hidden]="!tweetsAvailable">
      <li *ngFor="let tweet of filteredTweets">
        {{tweet}}
      </li>
    </ul>

  </div>
</div>