<app-header></app-header>

<div class="wrapper">

  <div class="leftpane">
    <h1 [ngStyle]="{'padding':'5px'}">Search</h1>

    <div class="form-group" [ngStyle]="{'padding': '5px'}">
      <label for="search-text"><b>Search Text</b></label>
      <input class="form-control" id="search-text" aria-describedby="search-text" (keyup)="getSymbols()" [(ngModel)]="searchText" placeholder="Enter text to search" autofocus>
    </div>

    <hr [ngStyle]="{'background-color':'white'}">

    <div [ngStyle]="{'padding': '5px'}"><b>SYMBOLS</b></div>

    <div [ngStyle]="{'height': '65%', 'overflow-y': 'auto'}">
      <div [ngStyle]="{'background-color': '#a8adaa', 'color': '#000000', 'padding': '10px', 'opacity': '0.25', 'margin': '5px', 'cursor': 'pointer'}" *ngFor="let companyInfo of companyInfos" (click)="getData(companyInfo.symbol)">
        {{companyInfo.symbol}} ({{companyInfo.name}})
      </div>
    </div>

  </div>

  <div class="middlepane">
    <h1 [ngStyle]="{'padding':'5px'}">Graphs</h1>

    <div></div>

    <div [hidden]="!dataAvailable" class="chart-wrapper">
      <canvas baseChart 
          [datasets]="lineChartData" 
          [labels]="lineChartLabels" 
          [options]="lineChartOptions"
          [colors]="lineChartColors" 
          [legend]="lineChartLegend" 
          [chartType]="lineChartType" 
          [plugins]="lineChartPlugins">
      </canvas>
    </div>

  </div>

  <div class="rightpane">
    <h1 [ngStyle]="{'padding':'5px'}">Tweets</h1>

    <ul [hidden]="!dataAvailable">
      <li *ngFor="let tweet of tweets">
        {{tweet}}
      </li>
    </ul>

  </div>
</div>